@media only screen and (max-width: 1200px) {
    footer.footer {
        color: white;
        font-size: 18px;
    }
    div.footerLeft {
        margin-left: 30px;
    }
    div.footerRight {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 910px) {
    div.logo {
        display: none;
    }
    div.logoMedium {
        margin-left: 50px;
        height: 90px;
        width: 90px;
        float: left;
        margin-top: 45px;
        background-image: url(../images/Logo-MEDIUM.png);
    }
    ul {
        margin-right: 20px;
        float: right;
    }
    li.inline-block {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    footer.footer {
        color: white;
        font-size: 14px;
}

@media only screen and (max-width: 700px) {
    div.logoMedium {
        display: none;
    }
    div.logoSmall {
        margin-left: 20px;
        height: 70px;
        width: 70px;
        float: left;
        margin-top: 45px;
        background-image: url(../images/Logo-SMALL.png);
    }
    ul {
        margin-right: 10px;
        float: right;
    }
    li.inline-block {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    footer.footer {
        font-size: 10px;
    }
    div.footerLeft {
        margin-left: 10px;
    }
    div.footerRight {
        margin-right: 10px;
    }
}



*{
    margin: 0;
    padding: 0;
}
nav {
    height: 1px;
    background-color: white;
}
.logo {
    float: left;
    margin-left: 94px;
    margin-top: 23px;
    height: 143px;
    margin-bottom: 25px;
}
ul {
    margin-right: 62px;
    float: right;

}
.inline-block {
    display: inline-block;
    padding: 31px;
    background-color: white;
    text-align: center;
    margin-top: 23px;
    margin-bottom:102px; 
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}
.inactive:hover {
    cursor: pointer;
    color: #480080;
}
.footer {
    margin-top: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #200039;
    width: 100%;
    color: white;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "footerLeft footerRight";
 }
 .footerLeft {
     grid-area: footerLeft;
     text-align: left;
     margin-left: 40px;
 }
 
 .footerRight {
     grid-area: footerRight;
     cursor: pointer;
     text-align: right;
     margin-right: 40px;
 }